fastapi
uvicorn[standard]
jinja2
python-dotenv
sqlalchemy
pydantic
scikit-learn
numpy
pandas
requests
praw
pytrends
google-generativeai
google-api-python-client
newsapi-python
joblib
httpx
vaderSentiment
