fastapi
uvicorn[standard]
websockets
jinja2
python-dotenv
sqlalchemy
pydantic
scikit-learn
numpy
pandas
requests
praw
pytrends
google-generativeai
google-api-python-client
openai
newsapi-python
joblib
httpx
vaderSentiment
passlib[bcrypt]
python-jose[cryptography]
python-multipart
reportlab
beautifulsoup4
nltk
